!.autotest
!.document
!.gemtest
!.gitignore
!.rspec
!.yardopts
*.gem
*.rbc
*.sw[a-z]
*.tmproj
*.tmproject
*.un~
*~
.*
.DS_Store
.Spotlight-V100
.Trashes
.\#*
._*
.bundle
.config
.directory
.elc
.loadpath
.project
.redcar
.rvmrc
.yardoc
/.emacs.desktop
/.emacs.desktop.lock
/live
Desktop.ini
Gemfile.lock
Icon?
InstalledFiles
Session.vim
Thumbs.db
\#*
\#*\#
_yardoc
auto-save-list
coverage
dist/*
doc
doc/
lib/bundler/man
oa-live
pkg
pkg/*
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
tmtags
tramp
